.description {
      padding-left: 50px;
      padding-right: 50px;
      padding-top: 20rem;
      margin-top: 15rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .body {
            max-width: 1400px;
            position: relative;

            p {
                  margin: 0px;

                  &:nth-of-type(1) {
                        font-size: 36px;
                        gap: 8px;
                        line-height: 1.3;

                        span {
                              margin-right: 3px;
                        }

                        .mask {
                              position: relative;
                              overflow: hidden;
                              display: inline-flex;
                        }
                  }

                  &:nth-of-type(2) {
                        font-size: 18px;
                        width: 80%;
                        font-weight: 300;
                  }
            }

            .button {
                  position: absolute;
                  top: 80%;
                  left: calc(100% - 200px);
                  width: 180px;
                  height: 180px;
                  background-color: #1C1D20;
                  color: white;
                  border-radius: 50%;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  cursor: pointer;
                  z-index: 11;

                  p {
                        margin: 0px;
                        font-size: 16px;
                        font-weight: 300;
                        position: relative;
                        z-index: 1;
                  }
            }
      }

      .moreWork {
            padding: 20px;
            border-radius: 40px;
            border: 1px solid grey;
      }
}


// Adjust font size for tablets
@media (max-width: 768px) {
      .body p:nth-of-type(1) {
            font-size: 30px !important;
      }

      .body p:nth-of-type(2) {
            font-size: 16px !important;
      }
}

// Adjust font size for mobile
@media (max-width: 640px) {
      .body p:nth-of-type(1) {
            font-size: 24px !important;
      }

      .body p:nth-of-type(2) {
            font-size: 14px !important;
      }
      .description{
            padding-top: 5rem !important;
            margin-top: 5rem !important;
      }
      .button{
            width: 150px !important;
            height: 150px !important;
            top: 95% !important;
            left: calc(100% - 120px) !important;
            p{
                  font-size: 14px !important;
            }
      }
}