/* App.scss */
.app-container {
      padding: 50px 0;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      .wrapper {
            width: 100%;
            height: fit-content;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .text {
                  font-size: 35px;
                  font-weight: 500;
                  margin-bottom: 10px;
                  color: #02203c;
            }

            .note {
                  font-size: 18px;
                  font-weight: 200;
                  margin-bottom: 40px;
                  color: #7c8e9a;
            }

            .marquee {
                  position: relative;
                  display: flex;
                  width: 1280px;
                  gap: 100px;
                  overflow: hidden;
                  user-select: none;
                  mask-image: linear-gradient(to right,
                              hsl(0 0% 0% / 0),
                              hsl(0 0% 0% / 1) 10%,
                              hsl(0 0% 0% / 1) 90%,
                              hsl(0 0% 0% / 0));

                  &::before {
                        background: linear-gradient(90deg, var(--black-color), rgba(0, 0, 0, 0) 100%);
                        position: absolute;
                        left: 0;
                        top: 0;
                        z-index: 2;
                        bottom: 0;
                        width: 10rem;
                        content: "";
                        pointer-events: none;
                  }

                  &::after {
                        background: linear-gradient(90deg, var(--black-color), rgba(0, 0, 0, 0) 100%);
                        position: absolute;
                        right: 0;
                        top: 0;
                        z-index: 2;
                        bottom: 0;
                        width: 10rem;
                        content: "";
                        pointer-events: none;
                  }

                  .marquee-group,
                  .marquee-group-reverse {
                        flex-shrink: 0;
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
                        white-space: nowrap;
                        width: 100%;
                        animation: scrollX 30s linear infinite;

                        &.marquee-group-reverse {
                              animation-direction: reverse;
                              animation-delay: -3s;
                        }
                  }

                  .services-groupe {
                        display: grid;
                        place-items: center;
                        width: clamp(10rem, 1rem + 40vmin, 30rem);
                        padding: calc(clamp(10rem, 1rem + 30vmin, 30rem) / 10);
                  }

            }
      }
}

@keyframes scrollX {
      from {
            left: translateX(0);
      }

      to {
            transform: translateX(-100%);
      }
}